title {
    color : red
}

body {
    background-color: black;
    color: white
}

title {
    color: red
}

h1 {
    color: red
}

h3 {
    color: red
}

h4 {
    color: red
}

p {
    color: red
}

div {
    background-color: grey;
    width: 500px;
}